<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="../../static/zing_it/css/home.css" />
  <link rel="stylesheet" href="../../static/zing_it/css/styles.css" />
  <link rel="shortcut icon" href="https://dl.dropboxusercontent.com/s/8yrizndh4r4mvz4/Liverpool_FC_Icon_32.png?dl=0">

  <meta charset="UTF-8">

  <title> Liverpool FC </title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://www.holbertonschool.com/level2/holberton.css" rel="stylesheet">

</head>

<body class="works_on_smartphone">

  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v4.0"></script>

  <header>
    <div class="mainimg"> <img src="https://dl.dropboxusercontent.com/s/suarcpnu1nzxaip/LiverpoolHeader.jpg?dl=0"
        style="width:100%" alt="wallpaper">
    </div>


    <nav class="navbar" id="mynavbar">
      <ul>
        <li><a href="javascript:void(0)" class="icon" onclick="myFunction()">&#9776; Liverpool FC </a></li>
        <li><a href="{% url 'home' %}" class="active">⚽</a></li>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'team' %}">Team</a></li>
        <li><a href="{% url 'shop' %}">Shop</a></li>
        <li><a href="{% url 'tweets' %}">Tweets</a></li>
      </ul>
    </nav>

    <script>
      function myFunction() {
        var x = document.getElementById("mynavbar");
        if (x.className === "navbar") {
          x.className += " responsive";
        } else {
          x.className = "navbar";
        }
      }
    </script>

    <div class="right">

      <div class="fb-share-button" data-href="http://54.234.250.91/index.html" data-layout="button_count"
        data-size="large"><a target="_blank"
          href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse"
          class="fb-xfbml-parse-ignore">Compartir</a></div>

      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false"
        data-size="large">Tweet</a>
      <script async src="https://platform.twitter.com/widgets.js"></script>
    </div>

  </header>

  <main>

    <article>
      <h2>First team:</h2>
      {% for player in players %}
      <div class="fit">
        <div class="gallery">
          <a target="_blank" href="{{ player.bio }}">
            <img src="{{player.image}}" alt="Mohamed Salah"
              width="600" height="400">
          </a>
          <div class="desc"><strong>{{player.name}}<br>{{player.lname}}</strong><br>{{player.position}}</div>
          <div class="player">
            <div class="text">Age: {{player.age}}<br>No.: {{player.number}}<br>
              <div class="flag"><img src="{{ player.flag }}"
                  alt="{{player.country}}"></div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </article>



    <aside>

      <div id="disqus_thread"></div>
      <script>

        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        /*
        var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function () { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://liverpool-1.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
          Disqus.</a></noscript>

      <a href="http://foo.com/bar.html#disqus_thread">Link</a>

    </aside>

  </main>

  <hr />

  <footer>
    <p>Made by <strong><a href="https://twitter.com/Bryano_13" target="_blank">BRYAN ⚽RTIZ
          LENIS</a></strong><br> for <br><strong><a href="https://www.holbertonschool.com" target="_blank">H⚽LBERT⚽N
          SCH⚽⚽L</a></strong><br><p>With Django</p><br></p>
  </footer>

</body>

</html>