<!DOCTYPE html>

<html lang="en">

<head>

    <link rel="stylesheet" href="../../static/zing_it/css/styles.css" />

    <link rel="shortcut icon" href="https://dl.dropboxusercontent.com/s/8yrizndh4r4mvz4/Liverpool_FC_Icon_32.png?dl=0">

    <title> Liverpool FC </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="UTF-8">

    <link href="https://www.holbertonschool.com/level2/holberton.css" rel="stylesheet">


</head>

<body class="works_on_smartphone">

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v4.0"></script>

    <header>
        <div class="mainimg"> <img src="https://dl.dropboxusercontent.com/s/suarcpnu1nzxaip/LiverpoolHeader.jpg?dl=0"
                style="width:100%" alt="wallpaper"> </div>


        <nav class="navbar" id="mynavbar">
            <ul>
                <li><a href="javascript:void(0)" class="icon" onclick="myFunction()">&#9776; Liverpool FC </a></li>
                <li><a href="{% url 'home' %}" class="active">⚽</a></li>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'team' %}">Team</a></li>
                <li><a href="{% url 'shop' %}">Shop</a></li>
                <li><a href="{% url 'tweets' %}">Tweets</a></li>
            </ul>
        </nav>


        <script>
            function myFunction() {
                var x = document.getElementById("mynavbar");
                if (x.className === "navbar") {
                    x.className += " responsive";
                } else {
                    x.className = "navbar";
                }
            }
        </script>

        <div class="right">

            <div class="fb-share-button" data-href="http://54.234.250.91/index.html" data-layout="button_count"
                data-size="large"><a target="_blank"
                    href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse"
                    class="fb-xfbml-parse-ignore">Compartir</a></div>

            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false"
                data-size="large">Tweet</a>
            <script async src="https://platform.twitter.com/widgets.js"></script>
        </div>

    </header>


    <main>

        <article>
            <h1>Tweets</h1>

            <blockquote class="twitter-tweet">
                <p lang="en" dir="ltr">THE AUDACITY 😱🤩<br><br>No looks, back heels, flicks.... 👀❌🤚<br><br>All 50 <a
                        href="https://twitter.com/premierleague?ref_src=twsrc%5Etfw">@premierleague</a> goals from Bobby
                    Firmino 😍 <a href="https://t.co/xJejk9Jiyz">pic.twitter.com/xJejk9Jiyz</a></p>&mdash; Liverpool FC
                (@LFC) <a href="https://twitter.com/LFC/status/1169614912705855490?ref_src=twsrc%5Etfw">September 5,
                    2019</a>
            </blockquote>
            <script async src="https://platform.twitter.com/widgets.js"></script>

            <blockquote class="twitter-tweet">
                <p lang="en" dir="ltr"><a
                        href="https://twitter.com/hashtag/LFC?src=hash&amp;ref_src=twsrc%5Etfw">#LFC</a> have been
                    invited to take part in December&#39;s FIFA Club World Cup after winning the <a
                        href="https://twitter.com/ChampionsLeague?ref_src=twsrc%5Etfw">@ChampionsLeague</a> last season
                    🏆<br><br>Here&#39;s everything you need to know... <a
                        href="https://t.co/6cOPkEzANv">https://t.co/6cOPkEzANv</a></p>&mdash; Liverpool FC (@LFC) <a
                    href="https://twitter.com/LFC/status/1169602633465835520?ref_src=twsrc%5Etfw">September 5, 2019</a>
            </blockquote>
            <script async src="https://platform.twitter.com/widgets.js"></script>


            <blockquote class="twitter-tweet">
                <p lang="de" dir="ltr">THE BOSS 💪<br><br>Jürgen Klopp is part of the final shortlist for <a
                        href="https://twitter.com/hashtag/TheBest?src=hash&amp;ref_src=twsrc%5Etfw">#TheBest</a> FIFA
                    Men&#39;s Coach award for 2019 👊🔴 <a href="https://t.co/xmlN8GgUpI">pic.twitter.com/xmlN8GgUpI</a>
                </p>&mdash; Liverpool FC (@LFC) <a
                    href="https://twitter.com/LFC/status/1168472581269262336?ref_src=twsrc%5Etfw">September 2, 2019</a>
            </blockquote>
            <script async src="https://platform.twitter.com/widgets.js"></script>


            <blockquote class="twitter-tweet">
                <p lang="en" dir="ltr">WHAT. A. NIGHT. 😱<br><br>Two weeks until we&#39;re back in <a
                        href="https://twitter.com/hashtag/UCL?src=hash&amp;ref_src=twsrc%5Etfw">#UCL</a> action...
                    let&#39;s hope for more moments of pure joy like these! 😍 <a
                        href="https://t.co/dkvoFLqGt1">pic.twitter.com/dkvoFLqGt1</a></p>&mdash; Liverpool FC (@LFC) <a
                    href="https://twitter.com/LFC/status/1168890372191412224?ref_src=twsrc%5Etfw">September 3, 2019</a>
            </blockquote>
            <script async src="https://platform.twitter.com/widgets.js"></script>


            <blockquote class="twitter-tweet">
                <p lang="en" dir="ltr">WHAAAT a goal! 😱<br><br>Bring on Sunday 👊 <a
                        href="https://t.co/32yc5bBqVw">https://t.co/32yc5bBqVw</a></p>&mdash; Liverpool FC (@LFC) <a
                    href="https://twitter.com/LFC/status/1169638983216914432?ref_src=twsrc%5Etfw">September 5, 2019</a>
            </blockquote>
            <script async src="https://platform.twitter.com/widgets.js"></script>

        </article>

        <aside>

            <div id="disqus_thread"></div>
            <script>

                /**
                *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                /*
                var disqus_config = function () {
                this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                */
                (function () { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://liverpool-1.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered
                    by Disqus.</a></noscript>

            <a href="http://foo.com/bar.html#disqus_thread">Link</a>

        </aside>

    </main>

    <hr />

    <footer>
        <p>Made by <strong><a href="https://twitter.com/Bryano_13" target="_blank">BRYAN ⚽RTIZ
                    LENIS</a></strong><br>for<br><strong><a href="https://www.holbertonschool.com"
                    target="_blank">H⚽LBERT⚽N SCH⚽⚽L</a></strong></p>
    </footer>

</body>

</html>